---
rapid_testing: true
back_link: true
---
<h1 class="govuk-heading-xl">Accessibility statement for the Get help with remote education service</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      This accessibility statement applies to the Get Help With Remote Education service
    </p>
    <p class="govuk-body">
      This service is run by the Department for Education (DfE). We want as many people as possible to be able
      to use this service. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the service using just a keyboard</li>
      <li>navigate most of the service using speech recognition software</li>
      <li>
        listen to most of the content on the service using a screen reader
        (including the most recent versions of JAWS, NVDA and VoiceOver)
      </li>
    </ul>
    <p class="govuk-body">
      We’ve also made the text on the service as simple as possible to understand.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has
      advice on making your device easier to use if you have a disability.
    </p>
    <h2 class="govuk-heading-l">Technical information about this service's accessibility</h2>
    <p class="govuk-body">
      The DfE is committed to making its service accessible, in accordance with
      the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <h3 class="govuk-heading-m">Compliance status</h3>
    <p class="govuk-body">
      This service is fully compliant with the
      <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard.
    </p>
    <p class="govuk-body">
      This statement was prepared on 27 November 2020. It was last reviewed on 27 November 2020.
    </p>
    <p class="govuk-body">
      This service was last tested on 27 November 2020. This test was carried out by the Get Help with Remote Education team, using
      both automated testing tools and manual user testing.
    </p>
    <h3 class="govuk-heading-m">Reporting accessibility problems with this service</h3>
    <p class="govuk-body">
      If you think we're not meeting accessibility requirements, or you'd like to access any information in a different format
      (such as accessible PDF, large print, easy read, audio recording or braille), contact 
      <a class="govuk-link no-word-wrap" href="mailto:ghre-feedback@digital.education.gov.uk">ghre-feedback@digital.education.gov.uk</a>.
    </p>
    <h3 class="govuk-heading-m">Enforcement procedure</h3>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector
      Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. If you’re not
      happy with how we respond to your complaint,
      <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
    </p>
  </div>
</div>
