---
title: "Rapid Testing"
hide_feedback_banner: true
dont_link_header: true
rapid_testing: true
---

<h1 class="govuk-heading-xl">Rapid coronavirus (COVID-19) testing in schools and colleges</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Guidance and support materials for schools and colleges on rapid coronavirus (COVID-19) testing
    </p>
    <p class="govuk-body">
      Every secondary school and college in England, as well as special schools and alternative provision, will have access to rapid coronavirus (COVID-19)
      testing from January to help keep staff and students as safe as possible and in education. Primary schools will then be supported to begin testing as
      quickly as possible over the spring term.
    </p>
    <p class="govuk-body">
      Further details, and training materials, will be made available soon.
    </p>
    <h2 class="govuk-heading-l">Documents</h2>
    <p class="govuk-body">
      <a href="https://www.gov.uk/guidance/asymptomatic-testing-in-schools-and-colleges?utm_source=remote_education" class="govuk-link">
        Letter template, Consent form template and Leaflet
      </a>
    </p>
    <p class="govuk-body">
      <a href="https://paas-s3-broker-prod-lon-ae79ddf0-b8b2-4eb4-a891-fbd1df9e587d.s3.amazonaws.com/Schools-Colleges-Testing-Handbook-version-3.7.pdf" class="govuk-link">
        Schools and colleges handbook (PDF)
      </a>
    </p>
    <p class="govuk-body">
      <a href="https://paas-s3-broker-prod-lon-ae79ddf0-b8b2-4eb4-a891-fbd1df9e587d.s3.amazonaws.com/Schools-Colleges-Testing-Handbook-version-3.7.pptx" class="govuk-link">
        Schools and colleges handbook (PowerPoint)
      </a>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      If you require assistance with this page please contact <a class="govuk-link" href="mailto:RapidTesting.SCHOOLS@education.gov.uk">RapidTesting.SCHOOLS@education.gov.uk</a>
    </p>
  </div>
</div>