---
title: "Rapid Testing"
hide_feedback_banner: true
dont_link_header: true
rapid_testing: true
---

<h1 class="govuk-heading-xl">Rapid Testing Placeholder</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a 
      class="govuk-link" 
      href="https://paas-s3-broker-prod-lon-ae79ddf0-b8b2-4eb4-a891-fbd1df9e587d.s3.eu-west-2.amazonaws.com/test-file-for-ghre-s3-public-prod.txt"
    >
      Link to example file
    </a>
  </div>
</div>
