---
title: "Rapid Testing"
hide_feedback_banner: true
dont_link_header: true
rapid_testing: true
---

<h1 class="govuk-heading-xl">Rapid coronavirus (COVID-19) testing in schools and colleges</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Guidance and support materials for schools and colleges on rapid coronavirus (COVID-19) testing
    </p>
    <p class="govuk-body">
      To safeguard the health of the teaching workforce and ensure pupils and students are given the best chance of face-to-face education,
      the Department for Education (DfE) is making rapid coronavirus (COVID-19) testing available to all staff and all pupils and students in schools and colleges.
    </p>
    <p class="govuk-body">
      Following the announcement for mass testing in schools in colleges from January 2021, this site has been set up to publish further support materials. Further details,
      and training materials, will be made available soon. Schools and colleges can download a handbook as the first of these materials.
    </p>
    <h2 class="govuk-heading-l">Documents</h2>
    <h3 class="govuk-heading-m">Handbook for schools and colleges</h3>
    <p class="govuk-body">
      <a href="https://paas-s3-broker-prod-lon-ae79ddf0-b8b2-4eb4-a891-fbd1df9e587d.s3.amazonaws.com/Schools-Colleges-Testing-Handbook-version-3.7.pdf" class="govuk-link">
        Schools and colleges handbook (PDF)
      </a>
    </p>
    <p class="govuk-body">
      <a href="https://paas-s3-broker-prod-lon-ae79ddf0-b8b2-4eb4-a891-fbd1df9e587d.s3.amazonaws.com/Schools-Colleges-Testing-Handbook-version-3.7.pptx" class="govuk-link">
        Schools and colleges handbook (Powerpoint)
      </a>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      If you require assistance with this page please contact <a class="govuk-link" href="mailto:RapidTesting.SCHOOLS@education.gov.uk">RapidTesting.SCHOOLS@education.gov.uk</a>
    </p>
  </div>
</div>