@import "variables";

.govuk-card-row {
  display: flex;
  flex-direction: column;

  @media (min-width: 40.0625em) {
    flex-direction: row;
  }
}

.govuk-card {
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 3px solid $govuk-card-blue;
  box-sizing: border-box;
  background-color: $govuk-card-background;

  @media (min-width: 40.0625em) {
    &.hidden {
      display: block;
      opacity: 0;
    }
    flex: 1 1 0;
    padding: 20px;
    margin-bottom: 30px;
  }

  .govuk-heading-s {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }

  p + p {
    margin-top: 15px;

    @media (min-width: 40.0625em) {
      margin-top: 20px;
    }
  }

  .updated-meta {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 16px;

    &.new {
      color: $govuk-link-colour;
      border: 2px solid;
      font-weight: bold;
      padding: 0.25em 0.5em;
    }
  }
}

.govuk-card:not(:first-child) {
  @media (min-width: 40.0625em) {
    margin-left: 15px;
  }
}
