@import "variables";

body {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background: $govuk-border-colour;
}

.hidden {
  display: none;
}

.app-cookie-banner {
  padding: 15px 0 10px;
  background-color: $cookie-banner-background;

  &__actions {
    display: block;
  }

  &__confirmation {
    display: none;
  }

  #{&}__link {
    color: $cookie-banner-text;
  }
}

.inline-message {
  display: inline;
  line-height: 2;

  &--right {
    display: inline;
    float: right;
    line-height: 2;
  }
}

.updated-content.active {
  background: $govuk-updated-content-active-background;
  border: 2px dashed $govuk-updated-content-active-border;
  padding: 0 0.25em;
}

.event-panel {
  background: govuk-colour("light-grey");
  padding: 1rem;
  margin: 2rem 0;
}
