.govuk-heading-s.update-summary-meta {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding: .25em .5em;
	margin-right: .5em;
	color: #1d70b8;
	border: 2px solid;
	text-transform: uppercase;
}

.update-summary {
	margin-top: -20px;
	margin-bottom: 10px;
}

.update-summary li {
	font-size: 16px;
}

.update-summary-content .govuk-list {
    margin-bottom: 0;
}

.update-summary-content {
	display: block;
	border-left: 5px solid #b1b4b6;
	padding: 15px 0 15px 15px;
	margin-bottom: 20px;
}