// Colours
$cookie-banner-background: #f3f2f1;
$cookie-banner-text: #0b0c0c;

$govuk-card-blue: #005ea5;
$govuk-card-background: #f8f8f8;
$govuk-card-link-hover: #9eceea;

$govuk-updated-content-active-background: hsla(42, 100%, 79%, 0.502);
$govuk-updated-content-active-border: #6f777b;
