<% shifted_date = today - 2.weeks %>
<% if update_date < shifted_date %>
  <span data-qa="date-badge" class="govuk-heading-m updated-meta">Updated <%= update_date.strftime('%-d %B') %></span>
<% else %>
  <span data-qa="date-badge" class="govuk-heading-m updated-meta new">NEW - updated <%= update_date.strftime('%-d %B') %></span>
<% end %>