<% shifted_date = today - 2.weeks %>

<% if update_date >= shifted_date %>
  <div class="update-summary">
    <span class="govuk-heading-s update-summary-meta">updated <%= update_date.strftime('%-d %B') %></span>
    <a id="show-hide-updates" href="" class="govuk-link govuk-link--no-visited-state" data-qa="updates-hide">
      <span id="update-summary-show-hide-status">show updates</span>
    </a>
    <div id="update-summary-content" class="update-summary-content hidden">
      <ul class="govuk-list govuk-list--bullet">  
        <% updated_sections.each do |section| %>
          <li data-qa="update-list"><%= section[:description] %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>