<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get help with remote education
    </h1>
    <p class="govuk-body">Information, guidance and support for teachers and leaders on educating pupils and students during coronavirus (COVID-19).</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-m"><a href="statutory-obligations" class="govuk-link">Statutory obligations and expectations</a></h2>
        <%= render 'date_badge', update_date: t('statutory_obligations.last_update_date').to_date, today: @today %>
        <p class="govuk-body">Information for schools and further education (FE) colleges on expectations and how to comply with legal responsibilities when pupils and students cannot come into school or college due to coronavirus (COVID-19).
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-m"><a href="safeguarding" class="govuk-link">Safeguarding</a></h2>
        <p class="govuk-body">Safeguarding procedures schools and FE colleges must follow when teaching remotely and planning remote education strategies.
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-m"><a href="good-teaching-practice" class="govuk-link">Good teaching practice and resources</a></h2>
        <%= render 'date_badge', update_date: t('good_teaching_practice.last_update_date').to_date, today: @today %>
        <p class="govuk-body">Remote education resources, including lessons from Oak National Academy, as well as guidance, subject-specific lesson plans and webinars on teaching remotely.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-m"><a href="https://get-help-with-tech.education.gov.uk/" class="govuk-link">Get help with technology</a></h2>
        <p class="govuk-body">Information for local authorities, academy trusts and schools about the devices, internet access and support available to provide remote education and access to children’s social care during coronavirus (COVID-19).
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-m"><a href="send" class="govuk-link">Supporting pupils and students with special educational needs and disabilities (SEND)</a></h2>
        <p class="govuk-body">How to support pupils and students with special educational needs and disabilities (SEND) and write contingency plans for remote education.
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-m"><a href="support-for-recovery" class="govuk-link">Support for recovery and catch-up</a></h2>
        <p class="govuk-body">Support to stop pupils and students falling behind, including the £650 million catch-up premium funding and in-school support through the National Tutoring Programme (NTP).
        </p>
      </div>
    </div>
  </div>
</div>