<% page_title = "Safeguarding"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Safeguarding
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Safeguarding procedures schools and FE colleges must follow when teaching remotely, including information about video lessons and live streaming,
      and planning remote education strategies.
    </p>
    <h2 class="govuk-heading-l">Guidance and information</h2>
    <h3 class="govuk-heading-m">Safety</h3>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19?utm_source=remote_education">Safeguarding and remote education during coronavirus (COVID-19)</a>.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/keeping-children-safe-in-education--2?utm_source=remote_education">Keeping children safe in education</a> (read the online safety guidance in annex c).
    </p>
    <p class="govuk-body">
      Information on delivering remote education safely and safeguarding vulnerable children within the guidance on
      <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/950510/School_national_restrictions_guidance.pdf" class="govuk-link">restricting attendance during the national lockdown</a>.
    </p>
    <p class="govuk-body">
      Guidance on <a class="govuk-link" href="https://www.gov.uk/government/publications/teaching-online-safety-in-schools?utm_source=remote_education">teaching online safety in schools</a>,
      including how to stay safe online when studying new and existing subjects.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision/what-fe-colleges-and-providers-will-need-to-do-from-the-start-of-the-2020-autumn-term#supporting-vulnerable-young-people?utm_source=remote_education">
        Supporting vulnerable young people in FE
      </a>.
    </p>
    <h3 class="govuk-heading-m">Wellbeing</h3>
    <p class="govuk-body">
      Guidance and support for the wellbeing of pupils in schools within the guidance on
      <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/950510/School_national_restrictions_guidance.pdf">
        restricting attendance during the national lockdown</a>.
    </p>
  </div>
</div>
