<% page_title = "Supporting pupils and students with special educational needs and disabilities (SEND)"%>
<%= content_for :page_title, page_title%>
---
back_link: true
---
<h1 class="govuk-heading-xl">
  Supporting pupils and students with special educational needs and disabilities (SEND)
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      The requirement to ensure pupils and students with SEND can access remote education is exactly the same as it is for all other pupils and students in 
      all types of school. 
    </p>
    <h2 class="govuk-heading-l">Guidance</h2>
    <p class="govuk-body">
      You can read the 
      <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#special-educational-needs">
        guidance on supporting pupils and students with SEND
      </a>.
    </p>
    <h2 class="govuk-heading-l">Get devices for those who cannot attend school</h2>
    <p class="govuk-body">
      Where a child or young person has been advised not to attend school by a GP or specialist clinician, and does not have access to a device, their school 
      should contact the Department for Education (DfE), so that we can help them to provide support. You can read further guidance on 
      <a class="govuk-link" href="https://www.gov.uk/guidance/get-laptops-and-tablets-for-children-who-cannot-attend-school-due-to-coronavirus-covid-19">
        getting laptops and tablets for those who cannot attend school
      </a>.
    </p>
    <h2 class="govuk-heading-l">Support for low-income families</h2>
    <p class="govuk-body">
      Further support for low-income families with disabled and critically ill children, including helping to buy specialist equipment, has been made 
      available through the Family Fund. You can read further 
      <a class="govuk-link" href="https://www.familyfund.org.uk/">guidance on how to apply for the Family Fund</a>.
    </p>
  </div>
</div>
