---
title: "Support for recovery and catch-up"
back_link: true
---

<h1 class="govuk-heading-xl">
  Support for recovery and catch-up
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Support to stop pupils and students falling behind, including the £650 million catch-up premium funding and in-school support through the National Tutoring Programme (NTP).
    </p>
    <h2 class="govuk-heading-l">School-to-school support for coronavirus (COVID-19) recovery</h2>
    <p class="govuk-body">
      The government is funding school-to-school support for schools that need particular help with coronavirus (COVID-19) recovery, which can include
      support to develop remote education provision. System leaders in education can provide support for an average of 5 days in line with the current
      coronavirus (COVID-19) guidance for schools.
    </p>
    <p class="govuk-body">
      Contact your
      <a class="govuk-link" href="https://www.gov.uk/government/organisations/regional-schools-commissioners/about#who-we-are">
        local Regional School Commissioner’s office
      </a>
      to find out more.
    </p>
    <h2 class="govuk-heading-l">Educational Endowment Foundation coronavirus (COVID-19) support</h2>
    <p class="govuk-body">
      The
      <a class="govuk-link" href="https://educationendowmentfoundation.org.uk/covid-19-resources/national-tutoring-programme/covid-19-support-guide-for-schools/#closeSignup">
        Education Endowment Foundation Covid-19 support guide for schools
      </a>
      includes information on how to support effective remote education and access to technology.
    </p>
    <h2 class="govuk-heading-l">Catch-up premium</h2>
    <p class="govuk-body">
      To support pupils from falling behind, schools can spend their catch-up premium on contingency planning for remote education, for example purchasing additional devices or more textbooks.
      Read the guidance on the:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-catch-up-premium">
          coronavirus (COVID-19) catch-up premium
        </a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-catch-up-premium-provisional-allocations">
          coronavirus (COVID-19) catch-up premium: provisional allocations
        </a>
      </li>
    </ul>
    <h2 class="govuk-heading-l">The National Tutoring Programme (NTP)</h2>
    <p class="govuk-body">
      You can register your interest on the <a class="govuk-link" href="https://nationaltutoring.org.uk/">National Tutoring Programme</a>
      website and find out more about how the programme will:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>increase access to high-quality tuition for disadvantaged and vulnerable pupils</li>
      <li>support children and young people to catch up</li>
      <li>help deliver schools’ curriculum plans</li>
    </ul>
    <p class="govuk-body">
      You can read
      <a class="govuk-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-catch-up-premium#national-tutoring-programme">
        further information about the NTP
      </a>
      and how the programme will comprise at least 3 parts in the 2020 to 2021 academic year.
    </p>
  </div>
</div>
