@import 'variables';

.app-cookie-banner {
    padding: 15px 0px 10px;
    background-color: $cookie-banner-background;
    &__actions {
        display: block;
    };
    &__confirmation {
        display: none;
    };
    #{&}__link {
        color: $cookie-banner-text;
    };
}

.inline-message {
    display: inline;
    line-height: 2;
    &--right {
        display: inline;
        float: right;
        line-height: 2;
    };
}