// Include images from/images/govuk-frontend and fonts from /fonts
$govuk-images-path: "../images/";
$govuk-fonts-path: "../fonts/";

// Colours
$cookie-banner-background: #f3f2f1;
$cookie-banner-text: #0b0c0c;