<% page_title = "Server Error"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">We're sorry, but something went wrong.</h1>
      <p class="govuk-body">If you are the application owner check the logs for more information.</p>
    </div>
  </div>
</main>
