<% page_title = "Not Found"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">If you typed the web address, check it is correct.</p>
        <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
        <p class="govuk-body">
        If the web address is correct or you selected a link or button, contact us at 
        <a class="govuk-link" href="mailto:ghre-feedback@digital.education.gov.uk">ghre-feedback@digital.education.gov.uk</a> for support.
      </p>
    </div>
</div>