Your recommendations
<ul data-qa="leadership">
  <li>Remote education plan: <span data-qa='remote-education-plan'><%= @answers.leadership.remote_education_plan %></span></li>
  <li>Communication: <span data-qa='communication'><%= @answers.leadership.communication %></span></li>
  <li>Monitoring and evaulating: <span data-qa='monitoring-and-evaluating'><%= @answers.leadership.monitoring_and_evaluating %></span></li>
</ul>