---
title: "Statutory obligations and expectations"
back_link: true
---
<h1 class="govuk-heading-xl">
  Statutory obligations and expectations
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Information for schools and further education (FE) colleges on expectations and how to comply with their legal responsibilities
      when pupils and students cannot come into school or college due to coronavirus (COVID-19).
    </p>
    <h2 class="govuk-heading-l">
      Schools
    </h2>
    <div class="update-summary">
      <span class="govuk-heading-s update-summary-meta">updated 15th December</span>
      <a id="show-hide-updates" href="" class="govuk-link govuk-link--no-visited-state" data-qa="updates-hide">
        <span id="update-summary-show-hide-status">show updates</span>
      </a>
      <div id="update-summary-content" class="update-summary-content hidden">
      <p class="govuk-body-s">
        The <a class="govuk-link govuk-link--no-visited-state" href="#remote-education-expectations">Remote education expectations</a> guidance includes an
        update on publishing information on school websites for pupils, parents and carers about remote education provision
      </p>
      <p class="govuk-body-s">
        The <a class="govuk-link govuk-link--no-visited-state" href="#guidance-for-full-opening">Guidance for full opening</a> includes the following changes:
        <ul class="govuk-list govuk-list--bullet">
          <li>changes to the isolation period (from 14 days to 10 days from the day after the individual tested positive)</li>
          <li>clinically extremely vulnerable pupils</li>
          <li>inspections</li>
          <li>primary assessments</li>
          <li>examinations</li>
          <li>schools accountability</li>
          <li>remote education minimum expectations</li>
          <li>
            an added link to the contingency framework for education and childcare settings which sets out how restrictions would work in the rare circumstances
            they are needed
          </li>
        </ul>
      </p>
      </div>
    </div>
    <h3 class="govuk-heading-m">
      Remote education expectations and duties
    </h3>
    <p class="govuk-body">
      The
      <a
        class="govuk-link updated-content"
        id="remote-education-expectations"
        href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#res"
        data-updated
      >
        remote education expectations
      </a>
      are set out within the
      <a
        class="govuk-link updated-content"
        id="guidance-for-full-opening"
        href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools"
        data-updated
      >
        guidance for full opening
      </a>
      .
    </p>
    <p class="govuk-body">
      Where a pupil, class, group or small number of pupils need to self-isolate, or there are local restrictions in place requiring pupils to remain at home,
      DfE expects schools to be able to immediately offer them access to remote education.
    </p>
    <p class="govuk-body">
      The Secretary of State for Education has given a temporary continuity direction which requires schools to provide remote education for state-funded, school-age children unable
      to attend school due to coronavirus (COVID-19). Read the
      <a class="govuk-link" href="https://www.gov.uk/government/publications/remote-education-temporary-continuity-direction-explanatory-note">remote education temporary continuity direction explanatory note</a>
      for more information. The direction poses no additional expectations on the quality of remote education expected of schools beyond those set out in the guidance for full opening.
    </p>
    <h3 class="govuk-heading-m">
      Recording in the attendance register
    </h3>
    <p class="govuk-body">
      Schools must continue to complete the attendance register for pupils who are receiving remote education. Sessions should be recorded as 'not attending in
      circumstances related to coronavirus' (code X) where a pupil is absent because their travel to, or attendance at, school would be:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>contrary to guidance relating to the incidence or transmission of coronavirus (COVID-19) from Public Health England (PHE) and/or the Department of Health and Social Care (DHSC)</li>
      <li>prohibited by any legislation (or statutory directions) relating to the incidence or transmission of coronavirus (COVID-19)</li>
    </ul>
    <p class="govuk-body">
      Read the addendum on
      <a class="govuk-link" href="https://www.gov.uk/government/publications/school-attendance/addendum-recording-attendance-in-relation-to-coronavirus-covid-19-during-the-2020-to-2021-academic-year">recording attendance in relation to coronavirus (COVID-19)</a>
      for further information. Where there is a different reason for absence, read the
      <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/907535/School_attendance_guidance_for_2020_to_2021_academic_year.pdf">school attendance guidance.</a>
    </p>
    <p class="govuk-body">
      Schools should keep a record of, and monitor pupils’ and students’ engagement with remote education, but this does not need to be tracked in the attendance register.
    </p>
    <h2 class="govuk-heading-l">
      Further education
    </h2>
    <h3 class="govuk-heading-m">
      Expectations for further education
    </h3>
    <p class="govuk-body">
      Read the
      <a class="govuk-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision/what-fe-colleges-and-providers-will-need-to-do-from-the-start-of-the-2020-autumn-term">FE autumn term guidance</a>
      on what colleges need to know for the autumn term.
    </p>
    <p class="govuk-body">
      Where restrictions are put in place to contain local outbreaks or pupils and students are required to self-isolate, remote provision can be extended to meet pupils' and students'
      needs. FE colleges should have contingency plans in place to move quickly to blended or, if necessary, remote education should the need arise.
    </p>
  </div>
</div>
