<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Remote Education Good Practice Guide</h1>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius in neque rem consequuntur
      sunt tempora sed aperiam dolores cum omnis, error libero possimus sint aliquid itaque
      eveniet alias maxime hic.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Did you know?</h2>
    <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
  </div>
</div>