---
title: "Good teaching practice and resources"
---
<h1 class="govuk-heading-xl">
  Good teaching practice and resources
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Remote education resources, including lessons from Oak National Academy, as well as guidance, lesson plans and webinars on teaching remotely.
    </p>
    <h2 class="govuk-heading-l">Schools</h2>
    <h3 class="govuk-heading-m">Guidance</h3>
    <p class="govuk-body">
      A sector-led
      <a class="govuk-link" href="https://www.gov.uk/government/publications/remote-education-good-practice">
        remote education good practice guide
      </a>
      to support school leaders in developing remote education contingency plans.
    </p>
    <p class="govuk-body">
      Guidance on
      <a class="govuk-link" href="https://www.gov.uk/guidance/adapting-teaching-practice-for-remote-education">
        adapting teaching practice for remote education
      </a>.
    </p>
    <p class="govuk-body">
      The
      <a class="govuk-link" href="https://educationendowmentfoundation.org.uk/covid-19-resources/national-tutoring-programme/covid-19-support-guide-for-schools/#closeSignup">
        Education Endowment Foundation Covid-19 support guide for schools
      </a>
      includes information on how to support effective remote education.
    </p>
    <h3 class="govuk-heading-m">Resources and lesson plans</h3>
    <p class="govuk-body">
      Resources from <a class="govuk-link" href="https://www.thenational.academy/"> Oak National Academy </a>, created by teachers across England in response to school
      closures and offering around 10,000 lessons across a variety of subjects for reception to year 11.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/example-lessons-for-remote-teaching">Example lesson plans</a> shared by schools to help
      teachers adapt their classroom practice for remote education.
    </p>
    <p class="govuk-body">
      Resources from <a class="govuk-link" href="https://hungrylittleminds.campaign.gov.uk/">Hungry Little Minds</a>, including simple and fun activities for
      children (from newborn to age five) that can be shared with parents.
    </p>
    <h3 class="govuk-heading-m">Webinars</h3>
    <h4 class="govuk-heading-s">DfE school-led webinars</h4>
    <p class="govuk-body">
      The DfE is offering several <a class="govuk-link" href="https://www.gov.uk/guidance/remote-education-webinars">school-led webinars</a> on remote education
      to help share good practice.
    </p>
    <h4 class="govuk-heading-s">EdTech Demonstrator webinars</h4>
    <p class="govuk-body">
      <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/home">The EdTech Demonstrator programme</a> helps schools and colleges with support for remote
      education. Their webinars can support schools that are looking for help to improve the quality of their remote provision in line with the expectations
      set out in the <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#res">guidance for full opening</a>.
      Webinars include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/contingency">contingency planning guidance</a></li>
      <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/getting-started">setting up a virtual classroom</a></li>
      <li>
        <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance">
          using platforms such as Google Workspace (formerly G Suite) or Microsoft Office 365
        </a>
      </li>
      <li>
        <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/special-educational-needs">
          using technology to support pupils with special education needs (SEND)
        </a>
      </li>
      <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/safeguarding">keeping pupils safe online</a></li>
      <li>
        <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/strategy">
          embedding technology across your organisation and introducing a digital strategy
        </a>
      </li>
      <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/support-and-resources/upcoming-events">getting the most out of EdTech</a></li>
    </ul>
    <h3 class="govuk-heading-m">Accessing and buying resources for remote education</h3>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/guidance/help-with-accessing-and-buying-resources-for-remote-education">Help with accessing and buying resources for remote education</a>.
    </p>
    <h3 class="govuk-heading-m">Future remote education support for schools</h3>
    <p class="govuk-body">
      Later in the autumn 2020 term, schools will also be able to access:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        a webinar from Ark English Mastery on making the curriculum work remotely - schools can
        <a class="govuk-link" href="https://us02web.zoom.us/meeting/register/tZIsdeusrD4vGtIl9I73XdExwvaXy151D-x5">register to attend via Zoom</a> on 9 December 2020 at 4pm
        (a recording will be available after the event on the DfE YouTube channel)
      </li>
      <li>a self-assessment framework to help school leaders and governors consider how to strengthen their remote education offer</li>
    </ul>
    <h2 class="govuk-heading-l">FE</h2>
    <h3 class="govuk-heading-m">Guidance</h3>
    <p class="govuk-body">
      Guidance on how FE providers can use the <a class="govuk-link" href="https://www.gov.uk/1619-bursary-fund">16 to 19 Bursary Fund</a> and the
      <a class="govuk-link" href="https://www.gov.uk/guidance/adult-education-budget-aeb-funding-rules-2020-to-2021">adult education budget</a> to
      help pupils and students overcome financial barriers to participation in remote education.
    </p>
    <h3 class="govuk-heading-m">Support</h3>
    <p class="govuk-body">
      Support in using educational technology and developing online teaching skills from the <a class="govuk-link" href="https://enhance.etfoundation.co.uk/">Education and Training Foundation</a>
    </p>
    <h3 class="govuk-heading-m">Resources</h3>
    <p class="govuk-body">
      Digital curriculum content and resources from organisations funded by the Department of Education (DfE) including
      <a class="govuk-link" href="https://www.jisc.ac.uk/learning-and-research-resources">Jisc</a> and
      <a class="govuk-link" href="https://www.worldskillsuk.org/directions/careers-advice-resources">World Skills UK</a>.
    </p>
    <h3 class="govuk-heading-m">Future remote education support for FE</h3>
    <p class="govuk-body">
      Later in the autumn 2020 term, FE providers will be able to access:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>new digital curriculum content and resources funded by the College Collaboration Fund</li>
      <li>case studies on delivering high-quality remote education</li>
    </ul>
  </div>
</div>
