<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get Help with Remote Education</h1>
    <p class="govuk-body-l">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque, illum repellat
      adipisci maiores maxime incidunt aut obcaecati debitis. Rerum officia rem magni totam
      dignissimos asperiores alias itaque sit facere.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-header-l">
      <a href="device_access.html" class="govuk-link">
        Device Access
      </a>
    </h2>
    <p class="govuk-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit lorum.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-header-l">
      <a href="good_practice_guide.html" class="govuk-link">
        Remote Education Good Practice Guide
      </a>
    </h2>
    <p class="govuk-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis eaque, illum repellat
      adipisci maiores maxime incidunt aut obcaecati debitis.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-header-l">
      <a href="statuatory_obligations.html" class="govuk-link">
        Statuatory Obligations
      </a>
    </h2>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam commodi labore, 
      eligendi pariatur quo accusantium expedita voluptate repellendus, mollitia delectus 
      voluptates sunt deserunt suscipit.
    </p>
  </div>
</div>