---
title: "Safeguarding"
back_link: true
---
<h1 class="govuk-heading-xl">
  Safeguarding
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Safeguarding procedures you must follow when teaching remotely, including information about video lessons and live streaming,
      and planning remote education strategies.
    </p>
    <h2 class="govuk-heading-l">Guidance and information</h2>
    <h3 class="govuk-heading-m">Safety</h3>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19">Safeguarding and remote education during coronavirus (COVID-19)</a>.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/keeping-children-safe-in-education--2">Keeping children safe in education</a> (read the online safety guidance in annex c).
    </p>
    <p class="govuk-body">
      Information on
      <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#delivering-remote-education-safely">
        delivering remote education safely
      </a>
      and
      <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#vulnerable-children">
        safeguarding vulnerable children
      </a>.
    </p>
    <p class="govuk-body">
      Guidance on <a class="govuk-link" href="https://www.gov.uk/government/publications/teaching-online-safety-in-schools">teaching online safety in schools</a>,
      including how to stay safe online when studying new and existing subjects.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision/what-fe-colleges-and-providers-will-need-to-do-from-the-start-of-the-2020-autumn-term#supporting-vulnerable-young-people">
        Supporting vulnerable young people in FE
      </a>.
    </p>
    <h3 class="govuk-heading-m">Wellbeing</h3>
    <p class="govuk-body">
      Guidance and support for
      <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#pupil-wellbeing-and-support">
        the wellbeing of pupils in schools and FE students
      </a>.
    </p>
  </div>
</div>
