---
title: "Statutory obligations and expectations"
back_link: true
---
<h1 class="govuk-heading-xl">
  Statutory obligations and expectations
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Information for schools and further education (FE) providers on expectations and how to comply with your legal responsibilities
      when pupils and students cannot come into school or college due to coronavirus (COVID-19).
    </p>
    <h2 class="govuk-heading-l">
      Schools
    </h2>
    <h3 class="govuk-heading-m">
      Schools' duty to provide remote education
    </h3>
    <p class="govuk-body">
      Where a pupil, class, group or small number of pupils need to self-isolate, or there is a local lockdown requiring pupils to remain at
      home, DfE expects schools to be able to immediately offer them access to remote education. Schools should ensure remote education, where
      needed, is high-quality and aligns as closely as possible with in-school provision.
    </p>
    <p class="govuk-body">
      The Secretary of State has given a temporary continuity direction in order to require schools to provide remote education for state-funded,
      school-age children unable to attend school due to coronavirus (COVID-19). This came into effect on Thursday 22 October 2020.
    </p>
    <p class="govuk-body">
      Read the
      <a class="govuk-link" href="https://www.gov.uk/government/publications/remote-education-temporary-continuity-direction-explanatory-note">remote education temporary continuity direction explanatory note</a>
      for more information. The direction poses no additional expectations on the quality of remote education expected of schools beyond those set out in the
      <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools">guidance for schools</a>
      published in June.
    </p>
    <h3 class="govuk-heading-m">
      Recording in the attendance register
    </h3>
    <p class="govuk-body">
      Schools must continue to complete the attendance register for pupils who are receiving remote education. Sessions should be recorded as 'not attending in
      circumstances related to coronavirus' (code X) where a pupil is absent because their travel to, or attendance at, school would be:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>contrary to guidance relating to the incidence or transmission of coronavirus (COVID-19) from Public Health England (PHE) and/or the Department of Health and Social Care (DHSC)</li>
      <li>prohibited by any legislation (or statutory directions) relating to the incidence or transmission of coronavirus (COVID-19)</li>
    </ul>
    <p class="govuk-body">
      Read the addendum on
      <a class="govuk-link" href="https://www.gov.uk/government/publications/school-attendance/addendum-recording-attendance-in-relation-to-coronavirus-covid-19-during-the-2020-to-2021-academic-year">recording attendance in relation to coronavirus (COVID-19)</a>
      for further information. Where there is a different reason for absence, read the
      <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/907535/School_attendance_guidance_for_2020_to_2021_academic_year.pdf">school attendance guidance.</a>
    </p>
    <p class="govuk-body">
      Schools should keep a record of, and monitor pupils’ and students’ engagement with remote education, but this does not need to be tracked in the attendance register.
    </p>
    <h2 class="govuk-heading-l">
      Further education
    </h2>
    <h3 class="govuk-heading-m">
      Expectations for further education
    </h3>
    <p class="govuk-body">
      Read the
      <a class="govuk-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision/what-fe-colleges-and-providers-will-need-to-do-from-the-start-of-the-2020-autumn-term">FE autumn term guidance</a>
      on what providers need to know for the autumn term.
    </p>
    <p class="govuk-body">
      Where restrictions are put in place to contain local outbreaks or pupils and students are required to self-isolate, remote provision can be extended to meet pupils and students'
      needs. FE providers should have contingency plans in place to move quickly to blended or, if necessary, remote education should the need arise.
    </p>
  </div>
</div>
