<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Statuatory Obligations</h1>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim quasi illum deserunt 
      obcaecati fugit iusto impedit eveniet aut, explicabo est nemo veritatis, ducimus quas 
      nesciunt quisquam provident molestias ab?
    </p>
  </div>
</div>