{% extends "layout.html" %}

{% block pageTitle %}
Get Help With Remote Education
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get Help with Remote Education</h1>
    <p class="govuk-body-l">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque, illum repellat
      adipisci maiores maxime incidunt aut obcaecati debitis. Rerum officia rem magni totam
      dignissimos asperiores alias itaque sit facere.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-header-l">
      <a href="device-access.html" class="govuk-link">
        Device Access
      </a>
    </h2>
    <p class="govuk-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-header-l">
      <a href="statutory-obligations.html" class="govuk-link">
        Statutory Obligations
      </a>
    </h2>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam commodi labore,
      eligendi pariatur quo accusantium expedita voluptate repellendus, mollitia delectus
      voluptates sunt deserunt suscipit.
    </p>
  </div>
</div>

{% endblock %}