<div class="app-cookie-banner app-cookie-banner--hidden" id="appCookieBanner" aria-label="cookie banner">
  <div class="govuk-width-container">
    <div class="app-cookie-banner__container" id="cookieActionsContainer">
      <p class="govuk-body">
        We use cookies to 
        <%= link_to("collect information", "/settings/cookie-preferences", class: "govuk-link app-cookie-banner__link") %>
        about how you use the service.
      </p>
      <div class="app-cookie-banner__actions">
        <input type="button" id="acceptCookies" class="govuk-button govuk-!-margin-bottom-2" value="Accept all cookies" />
        <p class="inline-message govuk-body">
          or <%= link_to 'set your cookie preferences', settings_cookie_preferences_path, class: 'govuk-link app-cookie-banner__link' %>
        </p>
      </div>
    </div>
    <div class="app-cookie-banner__confirmation" id="cookieConfirmation">
      <p class="inline-message govuk-body">Cookie preferences have been saved</p>
      <p class="inline-message--right govuk-body"><a href="" id="hideButton" value="Hide" class="govuk-link app-cookie-banner__link">Hide</a></p>
    </div>
  </div>
</div>
