<div class="app-cookie-banner" id="appCookieBanner" aria-label="cookie banner">
  <div class="govuk-width-container">
    <div class="app-cookie-banner__confirmation" id="cookieConfirmation">
      <p class="inline-message govuk-body">Cookie preferences have been saved</p>
      <p class="inline-message--right govuk-body"><a href="<%=url_for(params.except(:banner_accept))%>" id="hideButton" value="Hide" class="govuk-link app-cookie-banner__link">Hide</a></p>
    </div>
  </div>
</div>
