<div class="app-cookie-banner" id="appCookieBanner" aria-label="cookie banner">
  <div class="govuk-width-container">
    <div class="app-cookie-banner__container" id="cookieActionsContainer">
      <p class="govuk-body">
        We use cookies to 
        <%= link_to("collect information", "/settings/cookie-preferences", class: "govuk-link app-cookie-banner__link") %>
        about how you use the service.
      </p>
      <div>
        <button id="acceptCookies" data-href="<%=url_for(params.merge({:banner_accept => true}))%>" class="govuk-button govuk-!-margin-bottom-2">
          Accept all cookies
        </button>
        <p class="inline-message govuk-body">
          or <%= link_to 'set your cookie preferences', settings_cookie_preferences_path, class: 'govuk-link app-cookie-banner__link' %>
        </p>
      </div>
    </div>
  </div>
</div>
